{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Logo.png' %}">
    <!-- Bootstrap CSS (librerias)-->
    <title>LBWUS</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'alumnos/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'alumnos/style/estilo.css' %}">
    <script src="{% static 'alumnos/js/bootstrap.min.js' %}"></script>

</head>
<style>
    .container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
        margin: 100px auto;
    }

    h2 {
        margin-bottom: 20px;
        color: #333333;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #555555;
    }

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 10px;
        border: 1px solid #dddddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-group input[type="submit"] {
        background-color: #5cb85c;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-group input[type="submit"]:hover {
        background-color: #4cae4c;
    }

    .form-group a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s;
    }

    .form-group a:hover {
        color: #0056b3;
    }

    #idMensajes {
        margin-top: 20px;
        color: #d9534f;
    }

    .offcanvas-header .btn-close {
        filter: invert(1);
    }

    .bg-primary {
        background-color: #6a1b9a !important;
        /* Adjust as needed */
    }

    .btn-primary {
        background-color: #6a1b9a;
        border-color: #6a1b9a;
    }

    .btn-primary:hover {
        background-color: #5c138a;
        border-color: #5c138a;
    }

    .btn-secondary {
        background-color: #a2a2a2;
        border-color: #a2a2a2;
    }

    .btn-secondary:hover {
        background-color: #8a8a8a;
        border-color: #8a8a8a;
    }

    .theme-dark {
        background-color: #333;
        color: #fff;
    }

    .theme-dark .navbar,
    .theme-dark .offcanvas-header {
        background-color: #222;
    }

    .theme-dark .navbar-brand,
    .theme-dark .navbar-nav .nav-link {
        color: #fff;
    }

    .theme-dark .btn-outline-light {
        color: #fff;
        border-color: #fff;
    }
</style>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" href="#">
                {% load static %}
                <img src="{% static 'alumnos/img/Logo.png' %}" alt="Logo" width="50px"
                    class="d-inline-block align-text-top">
                LBWUS</a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LBWUS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 active" aria-current="page" href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'planes' %}">Planes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'servicios' %}">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="{% url 'contactos' %}">Contactos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="" class="registrarse-button btn btn-primary">Registrarse</a>
            <a href="{% url 'opcion_user' %}" class="login-button btn btn-secondary">Iniciar</a>
            <!-- Botón para cambiar el tema con iconos -->
            <button onclick="toggleTheme()" id="theme-toggler" class="btn btn-outline-light ms-2">
                <i class="bi bi-sun"></i> <!-- Icono predeterminado para el tema claro -->
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!--End Navbar-->
    <div class="container">
        <h2>Crear Cuenta de Alumno</h2>
        <!-- Formulario de registro de alumno -->
        <form id="formAlumnosAdd" action="{% url 'alumnos_Add' %}" method="POST" novalidate>
            {% csrf_token %}
            <!-- Campos personalizados para el registro de alumno -->
            <div class="form-group">
                <label for="rut">RUT</label>
                <input type="text" id="rut" name="rut" pattern="\d{7,8}-[\dkK]{1}" required>
                <small class="form-text">(Ej: 12345678-9)</small>
                <div class="invalid-feedback">Por favor ingresa un RUT válido.</div>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre Completo</label>
                <input type="text" id="nombre" name="nombre" minlength="10" required>
                <small class="form-text">Mínimo 10 caracteres</small>
                <div class="invalid-feedback">El nombre debe tener al menos 10 caracteres.</div>
            </div>
            <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                <input type="text" id="username" name="username" required>
                <div class="invalid-feedback">Por favor ingresa un nombre de usuario.</div>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" required>
                <div class="invalid-feedback">Por favor ingresa la dirección.</div>
            </div>
            <div class="form-group">
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required onchange="checkAge()">
                <div class="invalid-feedback">Debes tener al menos 18 años.</div>
            </div>
            <div class="form-group">
                <label for="correo_electronico">Correo Electrónico</label>
                <input type="email" id="correo_electronico" name="correo_electronico" required>
                <div class="invalid-feedback">Por favor ingresa un correo electrónico válido.</div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" minlength="8" required>
                <small class="form-text">Mínimo 8 caracteres</small>
                <div class="invalid-feedback">Por favor ingresa una contraseña válida.</div>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" name="telefono" pattern="[0-9]{9}" required>
                <small class="form-text">(Ej: 85477458)</small>
                <div class="invalid-feedback">Por favor ingresa un número de teléfono válido.</div>
            </div>
            <div class="form-group">
                <label for="nivel_educacion">Nivel de Educación</label>
                <select id="nivel_educacion" name="nivel_educacion">
                    <option value="basica">Básica</option>
                    <option value="media">Media</option>
                    <option value="superior">Superior</option>
                </select>
            </div>
            <div class="form-group">
                <label for="genero">Género</label>
                <select id="genero" name="genero">
                    {% for genero in generos %}
                    <option value="{{ genero.id_genero }}">{{ genero.descripcion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group" id="tutor-section" style="display:none;">
                <label for="tutor">Tutor</label>
                <select id="tutor" name="tutor">
                    <option value="">Seleccione un tutor</option>
                    {% for tutor in tutores %}
                    <option value="{{ tutor.id_tutor }}">{{ tutor.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Botón de enviar -->
            <div class="form-group">
                <input type="submit" value="Crear Cuenta">
            </div>
        </form>
        <div class="form-group mt-3">
            <a href="{% url 'lista_combinada' %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'alumnos/java/main.js' %}"></script>
    <script src="{% static 'alumnos/java/jquery.js' %}"></script>
    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('fecha_nacimiento').addEventListener('change', checkAge);

            document.getElementById('formAlumnosAdd').addEventListener('submit', function (event) {
                event.preventDefault();  // Evitar el envío normal del formulario

                const rut = document.getElementById('rut').value;
                const isRUTValid = validarRUT(rut);
                if (!isRUTValid) {
                    document.getElementById('rut').classList.add('is-invalid');
                } else {
                    document.getElementById('rut').classList.remove('is-invalid');
                }

                const fechaNacimiento = new Date(document.getElementById('fecha_nacimiento').value);
                const hoy = new Date();
                let edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
                const mes = hoy.getMonth() - fechaNacimiento.getMonth();
                if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNacimiento.getDate())) {
                    edad--;
                }
                const isAgeValid = edad >= 18;
                const tutor = document.getElementById('tutor').value;
                const isTutorRequired = edad < 18 && !tutor;

                if (!isAgeValid && !tutor) {
                    document.getElementById('fecha_nacimiento').classList.add('is-invalid');
                } else {
                    document.getElementById('fecha_nacimiento').classList.remove('is-invalid');
                }

                const nombre = document.getElementById('nombre').value;
                const isNameValid = nombre.length >= 10;
                if (!isNameValid) {
                    document.getElementById('nombre').classList.add('is-invalid');
                } else {
                    document.getElementById('nombre').classList.remove('is-invalid');
                }

                const correo = document.getElementById('correo_electronico').value;
                const isEmailValid = validarEmail(correo);
                if (!isEmailValid) {
                    document.getElementById('correo_electronico').classList.add('is-invalid');
                } else {
                    document.getElementById('correo_electronico').classList.remove('is-invalid');
                }

                const telefono = document.getElementById('telefono').value;
                const isPhoneValid = telefono.match(/^[0-9]{9}$/);
                if (!isPhoneValid) {
                    document.getElementById('telefono').classList.add('is-invalid');
                } else {
                    document.getElementById('telefono').classList.remove('is-invalid');
                }

                const password = document.getElementById('password').value;
                const isPasswordValid = validarPassword(password);
                if (!isPasswordValid) {
                    document.getElementById('password').classList.add('is-invalid');
                } else {
                    document.getElementById('password').classList.remove('is-invalid');
                }

                if (isRUTValid && (isAgeValid || tutor) && isNameValid && isEmailValid && isPhoneValid && isPasswordValid) {
                    var formData = new FormData(this);

                    fetch(this.action, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                        }
                    }).then(response => response.json())
                        .then(data => {
                            Swal.fire({
                                title: 'Respuesta del Servidor',
                                text: data.message,
                                icon: data.success ? 'success' : 'error'
                            }).then(() => {
                                if (data.success) {
                                    window.location.reload();  // Recargar la página para ver los cambios
                                }
                            });
                        }).catch(error => {
                            Swal.fire({
                                title: 'Error',
                                text: 'Hubo un problema con la petición',
                                icon: 'error'
                            });
                        });
                } else {
                    event.stopPropagation();
                    this.classList.add('was-validated');
                }
            });

            function validarRUT(rut) {
                const rutPattern = /^[0-9]+-[0-9kK]{1}$/;
                if (!rutPattern.test(rut)) {
                    return false;
                }
                const [number, verifier] = rut.split('-');
                return calculateVerifier(number) === verifier.toLowerCase();
            }

            function calculateVerifier(number) {
                let total = 0;
                let multiplier = 2;
                for (let i = number.length - 1; i >= 0; i--) {
                    total += number.charAt(i) * multiplier;
                    multiplier = multiplier === 7 ? 2 : multiplier + 1;
                }
                const remainder = 11 - (total % 11);
                if (remainder === 11) {
                    return '0';
                }
                if (remainder === 10) {
                    return 'k';
                }
                return remainder.toString();
            }

            function validarEmail(email) {
                const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailPattern.test(email);
            }

            function validarPassword(password) {
                return password.length >= 8;
            }

            function checkAge() {
                const fechaNacimiento = new Date(document.getElementById('fecha_nacimiento').value);
                const hoy = new Date();
                let edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
                const mes = hoy.getMonth() - fechaNacimiento.getMonth();
                if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNacimiento.getDate())) {
                    edad--;
                }
                if (edad < 18) {
                    document.getElementById('tutor-section').style.display = 'block';
                } else {
                    document.getElementById('tutor-section').style.display = 'none';
                }
            }
        });
    </script>
</body>

</html>